.body-blog {
    font-family: Segoe 'Segoe UI';
    background-image: url('img/colmeia.png'); 
}

.container-principal-blog {
    display: flex; /*um do lado do outro*/
    gap: 20px; /*espaço entre um e outro */
    padding: 20px; /*espaço entre a borda da tela*/
}

.coluna-form-blog {
    flex: 1;
}

.coluna-posts-blog {
    flex: 2;
    flex-wrap: wrap; /* para os posts quebrarem a linha */
    display: flex; /*para ficar um post do lado do outro */
    gap: 15px; /*distancia entre um e outro */
}

#form-historia-blog {
    display: flex;
    flex-direction: column; /* um item debaixo de outro */
}

#form-historia-blog input, #form-historia-blog textarea {
    padding: 10px;
    background-color: #fceb9f; /* cor amarela dos inputs */
}

#form-historia-blog button {
    padding: 10px;
    background-color: #e6b400; /* Verde */
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
}

.seta-para-voltar-blog {
    cursor: pointer;
}

.post-it-blog {
    width: 300px; /* largura fixa para cada post */
    min-height: 250px; /* altura de cada post */
    background-color: #fcf8a0; /* Amarelo do post-it */
    padding: 15px;
}

.post-header-blog {
    border-bottom: 1px dashed #ccc; /*linha entre icon, emojis e texto */
}

.icone-pessoa-blog {
    font-size: 24px;
}

.post-reacoes-blog {
    font-size: 20px;
}

.post-reacoes-blog span {
    cursor: pointer;
    display: inline-block;
}

.post-reacoes-blog span:hover {
    transform: scale(1.4); 
}