/*adiciona fundo de colmeia*/
.body-blog {
    background-image: url(img/colmeia.png);
}

/*alinha a seta e o texto*/
.header-blog {
    display: flex;
    align-items: center; 
    padding: 20px;
    gap: 15px;           
}
/*tamanho da seta*/
.header-blog img {
    width: 30px;       
    height: 30px;
    cursor: pointer;     /*mãozinha*/
}
/*texto "compartilhe sua história"*/
.header-blog p {
    font-size: 1.5rem;
    font-family: 'Segoe UI';
    text-align:justify;
    color: rgb(0, 0, 0);      
}

/*ícone de usuário*/
.criar-post img {
    width: 40px; 
    height: 40px;
    margin-bottom: 10px;
}

.post-it img {
    width: 30px;
    height: 30px;
}

/*post-its*/
.main-blog {
    display: flex;       
    gap: 30px;
}

.mural {
    flex-basis: 60%; 
    display: flex;           
    gap: 25px;
}

.post-it {
    flex-basis: 30%; 
    background-color: #f8ca3f; 
    padding: 20px;
   }

   .criar-post textarea {
    width: 100%; 
    background: #f7c532; 
    font-family: 'Segoe UI';
    resize: none; /*não redimensionar caixa*/
}

.criar-post textarea {
    height: 100px; 
}
