* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(img/colmeia.png);
}

h1 {
    text-align:center;
    padding: 20px;
}

header p {
    padding: 10px;
    font-size: 20px;
}

header img {
    text-align: start;
    width: 30px;
    height: 30px;
}

main img {
    width: 280px;
    height: 280px;
}

.postits {
    text-align:calc();
}